
@{
    ViewBag.Title = "Index";
}
@using Account.Models;
@model List<Menus>
    <nav aria-label="breadCrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/home/index">首页</a>
            </li>
            <li class="breadcrumb-item active">
                菜单管理
            </li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between">
        <div class="col-lg-6">
            <a href="/Menu/add" class="btn btn-primary">新增</a>
        </div>
        <div class="col-lg-6">
            <form class="form-inline" action="/Menu/index" method="post">
                <div class="form-group">
                    <label for="txtCondName">菜单名称：</label>
                    <input type="text" id="Name" name="Name" value="@ViewBag.Name" class="form-control" />
                </div>
                <input type="submit" class="btn btn-primary" id="btnSearch" value="搜索" />
            </form>
        </div>
    </div>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
               
                <th>编号</th>
                <th>菜单名称</th>
                <th>Url地址</th>
                <th>备注</th>
                <th>上级菜单ID</th>
                <th>删除</th>
                <th>修改</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)  
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>
                        @item.Url
                    </td>
                    <td>
                        @item.Remark

                    </td>
                    <td>@item.Pid</td>
                    
                    <td>
                        <a href="/Menu/delete/@item.ID" class="btn btn-danger" onclick="return confirm('是否删除')">删除</a>

                    </td>
                    <td>
                        <a href="/Menu/edit/@item.ID" class="btn btn-primary">修改</a>
                    </td>
                </tr>
            }
        </tbody>


    </table>