@using PagedList.Mvc;
@using PagedList;
@using Account.Models;

@model IPagedList<Answer>
@{
    ViewBag.Title = "TeAnswer";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<link href="~/Content/Exam/Page.css" rel="stylesheet" />

<h2>审批试卷 </h2>
<table class="table">
    <tr>
        <th>学生姓名</th>
        <th>试卷名</th>
        <th>交卷时间</th>
        <th>批卷</th>
        <th>分数</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Student.StuName</td>
            <td>@item.Paper.PaperName</td>
            <td>@item.SubmitTime</td>
            <td>
                @if (item.AnswerState == 0)
                {
                    @:答题中
                }
                else if (item.AnswerState == 1)
                {
                    @:未批卷
                }
                else
                {
                    @:已批卷
                }
            </td>
            <td>@item.AnswerScore</td>
            <td>

                @if (item.AnswerState == 1)
                {
                    <a href="/Answers/TeAnswerDetail/@item.AnswerID">
                        审卷
                    </a>
                }
                else if(item.AnswerState == 2)
                {
                    <a href="/Answers/TeAnswerDetail/@item.AnswerID">
                        查看详情
                    </a>
                }

            </td>
        </tr>
    }

</table>
<div>
    @*分页主要代码*@
    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("TeAnswer", new { page }))
</div>