@model IEnumerable<Account.Models.Paper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<h2>试卷列表</h2>

<p>
    @Html.ActionLink("添加", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperExplain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperExplain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperTime)
        </td>
        <td>
            @Html.ActionLink("添加考题", "Create", "Topics1", new { id = item.PaperID },null) |
            @Html.ActionLink("编辑", "Edit", new { id = item.PaperID }) |
            @Html.ActionLink("详情", "Details", new { id = item.PaperID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.PaperID })
        </td>
    </tr>
}

</table>
