@model IEnumerable<Account.Models.Paper>
@using Account.Models;
@{
    ViewBag.Title = "IndexStu";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
    Student stu = Session["Student"] as Student;
}

    <h2>试卷列表</h2>

    <p>
        说明：一旦点击“开始答题”, 那么标识考试正式开始，直至结束。无法再次点击该考试。因此请考生准备好后，再开始答题。
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperExplain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperExplain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperTime)
        </td>
        <td>
           @{ 
               //通过试卷的导航属性去查找该学生是否有作答该套试卷
               List<Answer> aList = item.Answer.Where(a => a.StuID == stu.StuID && a.PaperID == item.PaperID).ToList();
               if (aList.Count>0)
               {
                <span>已作答</span>
               }
               else
               {
                   <a href="/Answers/AnswerDetail?PaperID=@item.PaperID&StuID=@stu.StuID">开始答题</a>
               }

           }

        </td>
    </tr>
}

</table>
